<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pixel`s Resto App</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="./images/icon/icon.png" type="image/x-icon">

</head>

<body>
  <a href="#maincontent" class="skip-link">Skip to kontent</a>

  <header class="header-drawer">
    <div class="header-inner">
      <h1 class="header-title">Pixel`s Resto</h1>
      <a href="#" id="humberger" class="header-nav">☰</a>
    </div>
    <nav id="navbar" class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item"><a href="#/">Home</a></li>
        <li class="navbar-item"><a href="#/favorite">Favorite</a></li>
        <li class="navbar-item"><a href="https://github.com/Triyonorifan11" target="_blank">About us</a></li>
      </ul>
    </nav>
  </header>


  <div class="jumbotron">
    <img src="./images/heros/hero-image_1.jpg" class="img-jumbotron" alt="hero-image">
    <div class="hero-title text-shadow-sm">
      <h2>Selamat datang di Pixel`s Resto</h2>
      <h6>a restaurant that provides fresh food and drinks</h6>
    </div>
  </div>

  <main id="maincontent">
    <!-- <section class="resto-content">

      <div class="daftar-menu">
        <h2 class="label-menu">Menu List Resto</h2>
        <div class="post-menu" id="menu-list"></div>
        <h2 class="label-menu" style="padding-top: 3rem;">Favorite Menu</h2>
        <div class="post-menu" id="favorite-list"></div>
      </div>
    </section> -->
  </main>

  <footer>
    <p>copyright &copy; 2022 - powered by pixels Apps | SIB Batch 3 Dicoding</p>
  </footer>

</body>

</html>