* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #424242;
}

.skip-link:focus {
  top: 0;
}

.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  padding: 8px;
  background-color: #f8f520;
  color: inherit;
  z-index: 100;
  text-decoration: none;
}


.header-drawer {
  min-height: 65px;
  /* transition: min-height 0.3s; */
  background-color: #0e82c5;
  display: flex;
}

.header-inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  font-size: 3em;
  margin: 0.2em auto;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
}

.header-nav {
  font-size: 45px;
  margin: 0.1rem auto;
  display: block;
  width: 45px;
  color: white;
}

/* 
  navbar
*/
.navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: flex;
}

.navbar-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: auto 0;
}

.navbar a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
  border-radius: 3px;
}

.navbar a:hover {
  background-color: #0c6ea7;
  color: #fff;
}


.jumbotron {
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  border-radius: 0 0 100px 100px;
}

.text-shadow-sm {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}

.hero-title {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  color: #ffffff;

  padding: 0 3rem;
}

.bedge-city {
  background-color: #f8f520;
  padding: 9px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 9px;
}

.img-jumbotron {
  margin: 0 auto;
  width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
}

.resto-content {
  padding: 32px;
}

.daftar-menu {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.label-menu {
  font-size: 32px;
  font-weight: lighter;
}

.label-menu::after {
  content: '';
  margin-top: 15px;
  display: block;
  border-bottom: 2px solid #eee;
}

/* postingan menu */
.post-menu {
  margin: 32px auto auto;
  text-align: left;
}

.post-menu-detail{
  margin: 32px auto auto;
  text-align: left;
}

.post-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.post-item-content {
  padding: 16px;
}

.post-item-thumbnail {
  width: 100%;
}

.last-update {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}

button{
  border: 0;
  background-color: inherit;
}

button:focus{
  background-color: inherit;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 14px;
  margin: 10px 0;
  display: block;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

.btn-info:hover {
  background-color: #0b679c;
}

.btn-info {
  background-color: #0e82c5;
}

.post-item-date-author {
  color: #0c6ea7;
  text-decoration: none;
}

.post-item-title {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  transition: 0.3s opacity;
}

.post-item-title:hover {
  opacity: 0.5;
}

.post-item-title a {
  text-decoration: none;
  color: inherit;
}

.post-item-description {
  margin: 16px 0 30px 0;
  font-size: 12px;
  line-height: 1.5em;
}

.favoriteRestoButton {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e82c5;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.label-detail{
  margin: 2rem auto 1rem auto;
}

.menus{
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #0b679c;
  cursor: pointer;
  border-radius: 1rem;
}

.menus:hover{
  background-color: #abd5ee;
}

.card{
  text-align: left;
}

.card-body{
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
}

.form-group{
  display: block;
  text-align: left;
  padding: 1rem;
}

.form-control{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.form-control:focus{
  border: 2px solid #93c3df !important;
  outline: 0;
}

input::placeholder, textarea::placeholder{
  font-family: 'Poppins', sans-serif;
}

.form-label{
  font-size: 1.1rem;
}

/* loader */
#loading {
  width: 3rem;
  height: 3rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #0e82c5;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
  margin-top: 3rem;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

footer {
  background-color: rgb(0, 79, 143);
  padding: 2em;
  width: 100%;
  text-align: center;
  color: #fff;
}