.post-menu {
    display: grid;
    grid-row-gap: 25px;
}

.post-menu-detail{
    display: grid;
    grid-row-gap: 25px;
}

.card{
    display: grid;
    grid-row-gap: 25px;
}

/* media screen small */
@media screen and (min-width: 576px) {
    .header-nav {
        display: none;
    }

    .post-item-content {
        padding: 16px 32px 32px 32px;
    }

    .post-item-title {
        font-size: 18px;
    }

    .post-item-description {
        font-size: 14px;
    }

    .jumbotron {
        height: 50%;
    }

    .hero-title {
        font-size: 1.28rem;
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        z-index: 10;
        background-color: #0e82c5;
        width: 100%;
        position: absolute;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .header-drawer {
        position: relative;
    }

    .open-navbar {
        -webkit-transform: translate(0, 80%);
        transform: translate(0, 80%);
    }

    .navbar-item {
        display: list-item;
        border-top: 1px solid #0d679b;
        width: 100%;
        text-align: left;
    }

    .navbar-item:hover {
        background-color: #0c6ea7;
    }

    .hero-title {
        font-size: 1.2rem;
    }
}

/* media screenn medium (tablet) */
@media screen and (min-width: 768px) {
    .post-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .post-menu-detail{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .navbar-list {
        max-width: 800px;
        margin: 0 auto;
    }

    .hero-title {
        font-size: 1.7rem;
    }
}


/* media screen laptop */
@media screen and (min-width: 992px) {
    .post-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .post-menu-detail{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    
    .favoriteRestoButton{
        bottom: 55px;
        right: 55px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }

    .img-jumbotron {
        min-width: 1000px;
    }

    .favoriteRestoButton{
        bottom: 85px;
        right: 85px;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}